<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <xi:include href="../layout.html" />
  <head>
  <title>Add Network</title>
  ${ h.stylesheet_link_tag('/css/jquery.autocomplete.css') }
  ${ h.javascript_include_tag('/js/jquery.flydom.js')}
  ${ h.javascript_include_tag('/js/jquery.jquery.dimensions.js')}
  ${ h.javascript_include_tag('/js/jquery.bgiframe.js')}
  ${ h.javascript_include_tag('/js/jquery.autocomplete.js')}

  <script type="text/javascript">
      function parseXML(data) {
        var results = [];
        var branches = $(data).find('item');
        $(branches).each(function() {
          var text = $.trim($(this).find('text').text());
          var value = $.trim($(this).find('value').text());
          //console.log(text);
          //console.log(value);
          results[results.length] = {'data': this, 'result': value, 'value': text};
        });
        $(results).each(function() {
          console.log('value', this.value);
          console.log('result', this.result);
        });
        //console.log(results);
        return results;
      };

    var total_nets = 1;

    function reset_autocomplete(IdOrClass) {
      $(IdOrClass).autocomplete(
        "${ h.url_for(controller='ajax', action="networks", id=None) }", {
          parse: parseXML,
          minChar: 2,
          //multiple: true,
          mustMatch: true,
         }
      );
    };

    function add_network_field() {
      var divID = 'network-'+total_nets+'-div';
      var fieldID = 'network-'+total_nets;

      div = $('#networks').createAppend('div', { 'id': divID }, []);
      $(div).createAppend('label', {'for': fieldID}, []);
      $(div).createAppend('input', {
        'id': fieldID,
        'name': fieldID,
      }, []).attr('class', 'autocomplete');
      $(div).createAppend('input', {
        'name': 'submit',
        'type': "button",
        'value': "${_('Remove')}"
      }, '').attr('class', 'input_button inline').attr('style', "").attr(
        'onClick', '$("#'+divID+'").fadeOut(); $("#'+divID+'").remove()');
      $(div).fadeIn();
      console.log('calling autocomplete for field #'+fieldID);
      total_nets = total_nets + 1;
      reset_autocomplete(".autocomplete");
    };
  </script>
  </head>

  <body>
    <form action="${h.url_for('add_network', bot=c.bot.nick)}"
          method="post" id="add_network" name="add_network"
          accept-charset="UTF-8" class="user_input">
      <fieldset>
        <legend>Add Network</legend>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name"
               value="${c.network.name or c.form_result.name}"/>
        <span class="error-message" py:if="'name' in c.errors">
          $c.errors.name
        </span>
        <br/>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address"
               value="${c.network.address or c.form_result.address}"/>
        <span class="error-message" py:if="'address' in c.errors">
          ${ c.errors.address }
        </span><br/>

        <label for="port">Port:</label>
        <input type="text" id="port" name="port"
               value="$c.network.port"/>
        <span class="error-message" py:if="'port' in c.errors">
          ${ c.errors.port }
        </span><br/>

        <input type="hidden" id="user_id" name="user_id" value="$c.user.id"/><br/>
        <input class="input_button" name="submit" type="submit"
               value="${_('Create Network')}"/>
      </fieldset>
    </form><br/>
    <script type="text/javascript">
      $(document).ready( function() { reset_autocomplete('.autocomplete'); });
    </script>
  </body>
</html>
