<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <xi:include href="../layout.html" />
  <head>
  <title>Register Bot</title>
  ${ h.stylesheet_link_tag('/css/jquery.autocomplete.css') }
  ${ h.javascript_include_tag('/js/jquery.flydom.js')}
  ${ h.javascript_include_tag('/js/jquery.jquery.dimensions.js')}
  ${ h.javascript_include_tag('/js/jquery.bgiframe.js')}
  ${ h.javascript_include_tag('/js/jquery.autocomplete.js')}

  <script type="text/javascript">
    function edit_channels() {
    console.log('called edit_channels');
      location.href = "${ h.url_for('channels', bot=c.bot.nick, network=c.network.name)}";
    };
  </script>
  </head>

  <body>
    <form action="${h.url_for('edit_network', bot=c.bot.nick, network=c.network.name)}"
          method="post" id="edit_network" name="edit_network"
          accept-charset="UTF-8" class="user_input">
      <fieldset>
        <legend>Edit Network</legend>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name"
               value="${c.network.name or c.form_result.name}"/>
        <span class="error-message" py:if="'name' in c.errors">
          $c.errors.name
        </span>
        <br/>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address"
               value="${c.network.address or c.form_result.address}"/>
        <span class="error-message" py:if="'address' in c.errors">
          ${ c.errors.address }
        </span><br/>

        <label for="port">Port:</label>
        <input type="text" id="port" name="port"
               value="$c.network.port"/>
        <span class="error-message" py:if="'port' in c.errors">
          ${ c.errors.port }
        </span><br/>

        <label for="created_by">Created By:</label>
        <span id="owner" name="owner">$c.network.created_by</span><br/>

        <label for="created">Created On:</label>
        <span id="created">
          ${h.format_datetime(c.network.added, tzinfo=c.timezone, locale=g.locale)}
        </span><br/>

        <label for="modified">Modified On:</label>
        <span id="modified">
          Modified on
          ${h.format_datetime(c.network.changed_on, tzinfo=c.timezone, locale=g.locale)}
          by ${c.network.modified_by.name}
        </span><br/>

        <input type="hidden" id="user_id" name="user_id" value="$c.user.id"/><br/>
        <input class="input_button" name="submit" type="submit"
               value="${_('Update Network')}"/>
        <input class="input_button" name="submit" type="button"
               value="${_('Edit Channels')}" onClick="edit_channels()"/>
      </fieldset>
    </form><br/>
  </body>
</html>
