<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout.html" />
  <head>
    <title>My Account</title>
  <script type="text/javascript">
    function register_bot() {
      location.href = "${ h.url_for(controller='account', action='register_bot')}";
    };
  </script>
  </head>

  <body>
    <form action="${ h.url_for(controller='account', action='index') }"
          method="post" id="update_user" name="update_user"
          accept-charset="UTF-8">
      <fieldset class="user_input">
        <legend>My Account</legend>
        <label for="openid_label">OpenID:</label>
        <span id="openid_label" name="openid_label">$c.user.openid</span><br/>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name"
               value="${c.form_result.name or c.user.name}"/>
        <span class="error-message" py:if="'name' in c.form_errors">
          $c.errors.name
        </span><br/>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email"
               value="${c.form_result.email or c.user.email}"/>
        <span class="error-message" py:if="'email' in c.form_errors">
          $c.errors.email
        </span><br/>

        <label for="tzinfo">Timezone:</label>
        <select id="tzinfo" name="tzinfo">
          <py:for each="tz in c.tz_list">
          <option value="$tz.value">$tz.value: $tz.name</option>
          </py:for>
        </select><br/>

<!--!
        <label for="language">Language:</label>
        <select id="language" name="language">
          <py:for each="locale, lang, selected in c.languages">
          <option value="$locale" selected="$selected">$lang</option>
          </py:for>
        </select><br/>
-->
        <input type="hidden" name="openid" id="openid"
               value="$c.user.openid"/>
        <input class="input_button" name="submit" type="submit"
               value="${_('Update')}"/>
      </fieldset>
      <input type="hidden" id="user_id" name="user_id" value="$c.user.id"/>
    </form>
    <script type="text/javascript">
      $(document).ready( function() {
        $('#tzinfo').selectOptions('$c.user.tzinfo');
      });
    </script>
  </body>
</html>