<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout.html" />
  <head>
    <title>Logs</title>
  </head>

  <body>
    <table class="listing logs">
      <thead>
        <tr>
          <th colspan="3">Logs Listing</th>
        </tr>
        <tr py:if="c.networks">
          <th>Address</th>
          <th>Port</th>
          <th>Channels</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="participation in c.networks">
          <td>$participation.network.address</td>
          <td>$participation.network.port</td>
          <td>
            <py:for each="channel in participation.network.channels">
            <a href="${h.url_for('logs',
                                 network=participation.network.name,
                                 channel=channel.channel_name)}">$channel.channel_name</a>
                </py:for>
          </td>
        </tr>
        <tr py:if="not c.networks">
          <td colspan="3"><center>No channels being logged</center></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>