<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <xi:include href="../layout.html" />
  <head>
  <title>Networks</title>
  </head>

  <body>
    <h2>Networks</h2>
    <table id="network_listing" py:if="c.networks" class="listing">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Port</th>
          <th>Channels</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="network in c.networks">
          <td><a href="${h.url_for(controller='admin', action='edit_network', id=network.name)}"
                 py:strip="(c.user is None) or (not c.user.is_admin())">$network.name</a>
          </td>
          <td>
            <a class="irclink" href="irc://$network.address:$network.port"
               title="IRC link to $network.name">$network.address</a>
          </td>
          <td>$network.port</td>
          <td>
            <py:for each="channel in network.channels">
              <a href="${h.url_for('logs', network=network.name,
                                   channel=channel.name, year=None, month=None,
                                   day=None)}">$channel.name</a>
            </py:for>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
