<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout.html"/>
  <head>
    <title>View</title>
    ${ h.stylesheet_link_tag('/css/jquery-calendar.css') }
    ${ h.javascript_include_tag('/js/jquery-calendar.js') }
  </head>

  <body>
    <div id="inline_calendar"/>
    <div id="logs_div">
      <table id='logs' class="listing logs" py:if="c.messages">
        <thead>
          <tr py:if="c.topic">
            <th colspan="3">$c.topic</th>
          </tr>
          <tr>
            <th>$c.timezone</th>
            <th colspan="2" style="text-align: right; width: 100%;">
              ${h.format_date(c.date, format='long', locale=g.locale)}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr py:for='message in c.messages'
            class="${ message.subtype or message.type}">
            <td class="time">
              <a href="#UTC:${h.format_time(message.stamp, locale='en_GB')}"
                title="Timezone is '$c.timezone'">
                ${h.format_time(message.stamp, tzinfo=c.timezone, locale=g.locale)}
              </a>
            </td>
            <td class="nick">$message.source</td>
            <td class="message">$message.msg</td>
          </tr>
          <tr py:if="list(c.messages) == []">
            <td colspan="3">
              <strong><center>No log entries for this day.</center></strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  <script type="text/javascript" py:if="c.minDate and c.maxDate">
    $(document).ready(function () {
      $('#inline_calendar').calendar({
        inline:true,
        changeMonth: false,
        changeYear: false,
        changeFirstDay: false,
        monthNames: [${','.join(["'%s'" % val for val in c.monthNames])}],
        dayNames: [${','.join(["'%s'" % val.capitalize() for val in c.weekDays])}],
        selectedYear: $c.selected.year,
        selectedMonth: ${c.selected.month-1},
        selectedDay: $c.selected.day,
        dateFormat: 'YMD/',
        minDate: new Date($c.minDate.year,$c.minDate.month-1,$c.minDate.day),
        maxDate: new Date($c.maxDate.year,$c.maxDate.month-1,$c.maxDate.day),
        customEvent:function () {
          location.href = "$c.baseurl/" + this.date;
        }
      });
    });
    </script>
</html>
<!--!
$Id: view.html 5 2007-08-18 16:05:25Z s0undt3ch $
vim: sw=2 ts=2 fenc=utf-8 ft=kid et
-->

