<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <xi:include href="admin.html" />
  <head>
  <title>Add Bot</title>
  </head>

  <body>
    <h2>Add Bot</h2>
    <form action="${ h.url_for(controller='admin', action='add_bot') }"
          method="post" id="add_bot" name="add_bot"
          accept-charset="UTF-8" class="user_input">
      <fieldset>
        <legend>Add Bot</legend>
        <label for="nick">Nick:</label>
        <input type="text" id="nick" name="nick"
               value="${c.bot.nick or c.form_result.nick}"/>
        <span class="error-message" py:if="'nick' in c.errors">
          $c.errors.nick
        </span>
        <br/>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name"
               value="${c.bot.name or c.form_result.name}"/>
        <span class="error-message" py:if="'name' in c.errors">
          $c.errors.name
        </span>
        <br/>

        <label for="passwd">Password:</label>
        <input type="password" id="passwd" name="passwd"
               value="${c.bot.passwd or c.form_result.passwd}"/>
        <span class="error-message" py:if="'passwd' in c.errors">
          ${ c.errors.passwd }
        </span>
        <span class="info-message">Only used for registred nicks</span><br/>

        <label for="passwd_confirm">Confirm Password:</label>
        <input type="text" id="passwd_confirm" name="passwd_confirm"
               value="$c.bot.passwd_confirm"/>
        <span class="error-message" py:if="'passwd_confirm' in c.errors">
          ${ c.errors.passwd_confirm }
        </span><br/>

        <label for="owner">Owner:</label>
        <span id="owner" name="owner">$c.user.name</span><br/>

        <input type="hidden" id="user_id" name="user_id" value="$c.user.id"/>
        <input class="input_button" name="submit" type="submit"
               value="${_('Add Bot')}"/>
      </fieldset>
    </form><br/>
  </body>
</html>
