<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <xi:include href="admin.html" />
  <head>
  <title>Delete Group</title>
  </head>

  <body>
    <h2>Delete Group</h2>
    <h3>This is an irreversible operation</h3>
    <form action="${ h.url_for(controller='admin', action='delete_group') }"
          method="post" id="delete_group" name="delete_group"
          accept-charset="UTF-8" class="user_input">
      <fieldset>
        <legend>Delete Group</legend>
        <label for="span_name">Name:</label>
        <span id="span_name">$c.name</span>
        <br/>

        <label for="description">Description:</label>
        <span id="description" name="description">$c.description</span><br/>
        <label for="created">Created On:</label>
        <span id="created">$c.created</span><br/>
        <label for="active">Active:</label>
        <span id="active" name="active">$c.active</span><br/>
        <input class="input_button inline" name="submit" type="submit"
               value="${_('Delete Group')}"/>
      </fieldset>
    </form><br/>
  </body>
</html>
