<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <xi:include href="admin.html" />
  <head>
  <title>Edit Network</title>

  <script type="text/javascript">
    function call_new_channel(select_id) {
      // needed to pass the translated question, how do we handle I18n on JS???
      new_option(select_id, '${_("Channel Name?")}');
    };
  </script>
  </head>

  <body>
    <h2>Edit Network</h2>
    <form action="${ h.url_for(controller='admin', action='edit_network') }"
          method="post" id="edit_network" name="edit_network"
          accept-charset="UTF-8" class="user_input">
      <fieldset>
        <legend>Edit Network</legend>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="$c.network.name"/>
        <span class="error-message" py:if="'name' in c.errors">
          $c.errors.name
        </span>
        <br/>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address"
               value="$c.network.address"/><br/>
        <span class="error-message" py:if="'address' in c.errors">
          ${ c.errors.address }
        </span>

        <label for="port">Port:</label>
        <input type="text" id="port" name="port"
               value="$c.network.port"/><br/>
        <span class="error-message" py:if="'port' in c.errors">
          ${ c.errors.port }
        </span>

        <fieldset class="subfieldset">
          <legend>Channels</legend>
        <select id="channels" name="channels" multiple="multiple">
          <option py:for="channel in c.network.channels"
                  value="$channel.name">$channel.name</option>
        </select><br/><br/>
        <nobr>
        <input class="input_button" name="add_channel" type="button"
               onClick="call_new_channel('#channels')" value="${_('Add Channel')}"/>

        <input class="input_button" name="delete_channel" type="button"
               onClick="remove_channels('#channels')" value="${_('Delete Selected Channel(s)')}"/>
        </nobr>

        </fieldset><br/>

        <input class="input_button" name="submit" type="submit"
               onClick="select_all_options('#channels');" value="${_('Update Network')}"/>
      </fieldset>
    </form><br/>
  </body>
</html>
