<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <xi:include href="admin.html" />
  <head>
  <title>Edit Bot</title>

  <script type="text/javascript">
    // needed to pass the translated question, how do we handle I18n on JS???
    function call_new_channel(select_id) {
      new_option(select_id, '${_("Channel Name?")}');
    };
    function call_new_network(select_id) {
      new_option(select_id, '${_("Network Address?")}');
    };
  </script>
  </head>

  <body>
    <h2>Edit Bot</h2>
    <form action="${ h.url_for(controller='admin', action='edit_bot') }"
          method="post" id="edit_bot" name="edit_bot"
          accept-charset="UTF-8" class="user_input">
      <fieldset>
        <legend>Edit Bot</legend>

        <label for="name">Nick:</label>
        <input type="text" id="nick" name="nick" value="$c.bot.nick"/>
        <span class="error-message" py:if="'nick' in c.errors">
          $c.errors.nick
        </span>
        <br/>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="$c.bot.name"/>
        <span class="error-message" py:if="'name' in c.errors">
          $c.errors.name
        </span>
        <br/>

        <label for="address">Password:</label>
        <input type="text" id="password" name="password"
               value="$c.bot.password"/>
        <span class="error-message" py:if="'password' in c.errors">
          ${ c.errors.password }
        </span><br/>
        <label for="passwd_confirm">Confirm Password:</label>
        <input type="text" id="passwd_confirm" name="passwd_confirm"
               value="$c.bot.passwd"/>
        <span class="error-message" py:if="'passwd_confirm' in c.errors">
          ${ c.errors.passwd_confirm }
        </span><br/>

        <fieldset class="subfieldset">
          <legend>Networks</legend>
        <select id="networks" name="networks" multiple="multiple">
          <option py:for="network in c.bot.networks"
                  value="$network.name">$network.name</option>
        </select><br/><br/>
        <nobr>
        <input class="input_button" name="add_channel" type="button"
               onClick="call_new_network('#networks')"
               value="${_('Add Network')}"/>

        <input class="input_button" name="delete_network" type="button"
               onClick="remove_network('#networks')"
               value="${_('Delete Selected Networks(s)')}"/>
        </nobr>

        </fieldset><br/>

        <fieldset class="subfieldset">
          <legend>Channels</legend>
        <select id="channels" name="channels" multiple="multiple">
          <option py:for="channel in c.bot.channels"
                  value="$channel.name">$channel.name</option>
        </select><br/><br/>
        <nobr>
        <input class="input_button" name="add_channel" type="button"
               onClick="call_new_channel('#channels')" value="${_('Add Channel')}"/>

        <input class="input_button" name="delete_channel" type="button"
               onClick="remove_channels('#channels')" value="${_('Delete Selected Channel(s)')}"/>
        </nobr>

        </fieldset><br/>

        <input class="input_button" name="submit" type="submit"
               onClick="select_all_options('#channels');" value="${_('Update Network')}"/>
      </fieldset>
    </form><br/>
  </body>
</html>
