<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="admin.html" />
  <head></head>
  <body>
   <div id="contents">
    <p>Currently logging ${ ungettext('%d channel', '%d channels', c.channels) % c.channels }
       on ${ ungettext('%d network', '%d networks', c.networks) % c.networks }.</p>
   </div>
  </body>
</html>
