<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <xi:include href="admin.html" />
  <head>
  <title>Networks</title>
  <script type="text/javascript">
    function add_network() {
      location.href = "${ h.url_for(controller='admin', action='add_network')}"
    };
  </script>
  </head>

  <body>
    <h2>Networks</h2>
    <input class="input_button" name="submit" type="button"
           value="${_('Add Network')}"
           onClick="add_network()"/><br/>
    <table py:if="c.networks" class="listing">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Port</th>
          <th>Channels</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="network in c.networks">
          <td><a href="${h.url_for(action='edit_network', id=network.name)}">
            $network.name</a>
          </td>
          <td>$network.address</td>
          <td>$network.port</td>
          <td>${u', '.join(channel.name for channel in network.channels)}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
