<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <xi:include href="admin.html" />
  <head>
  <title>Permissions</title>
  <script type="text/javascript">
    function add_permission() {
      location.href = "${ h.url_for(controller='admin', action='add_perm')}"
    };
  </script>
  </head>

  <body>
    <h2>Permissions</h2>
    <input class="input_button" name="submit" type="submit"
           value="${_('Add Permission')}"
           onClick="add_permission()"/><br/>
    <table py:if="c.perms">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="perm in c.perms">
          <td><a href="${h.url_for(action='edit_perm', id=perm.name)}">
            $perm.name</a>
          </td>
          <td>${perm.description}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
