<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="../layout.html"/>
  <head>
    <title xml:lang="en">Sign In</title>
  </head>

  <body>
    <fieldset class="user_input">
      <p>This website uses OpenID for authentication. It's probable you already
      have an OpenID -- many internet services now offer them. OpenID enables
      you to log in at one place and be authenticated at many places.</p>
      <p>OpenID providers: <br/>
        <ul>
          <li i18n:msg="">LiveJournal: <code>http://<i>username</i>.livejournal.com/</code><br/>
            Many other LiveJournal-based sites such as GreatestJournal offer
            OpenIDs, so try your site url.</li>
          <li i18n:msg="">AOL or AOL Instant Messenger: <code>http://openid.aol.com/<i>screenname</i>/</code></li>
          <li i18n:msg="">SmugMug: <code>http://<i>username</i>.smugmug.com/</code></li>
          <li i18n:msg="">WordPress.com: <code>http://<i>blog</i>.wordpress.com/</code></li>
          <li i18n:msg="">Vox: <code>http://<i>username</i>.vox.com/</code></li>
          <li i18n:msg="">Or pick any provider from the
            <a href="http://openid.net/wiki/index.php/OpenIDServers">list</a>.</li>
        </ul>
      </p>
    <legend>Please Sign In</legend>
    <form action="${ h.url_for(controller='account', action='signin', id=None) }"
          method="post" id="signin" name="signin" accept-charset="UTF-8">
    <label for="openid" xml:lang="en">OpenID:</label>
    <input type="text" name="openid" id="openid"/>
    <input type="submit" id="submit" name="submit"
           value="${_('Sign In')}" class="input_button inline"/>
    </form>
    </fieldset>
    <script type="text/javascript">
      $(document).ready( function() { $('#openid').focus() } );
    </script>
  </body>
</html>
