<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      py:strip="">
  <xi:include href="../layout.html" />
  <head>
    <title>Delete Bot</title>
  </head>

  <body>
    <form action="${ h.url_for(controller='bots', action='delete', id=c.bot.id) }"
          method="post" id="delete_bot" name="delete_bot"
          accept-charset="UTF-8" class="user_input">
      <fieldset>
        <legend>Delete Bot</legend>

        <p class="warning-message" i18n:msg="">
          <b>Are You Sure? This is an irreversible operation!!!</b>
        </p>

        <label for="name">Name:</label>
        <span id="name" name="name">$c.bot.name</span>
        <br/>

        <label for="manager">Managed By:</label>
        <span id="manager" name="manager">
          $c.bot.manager.name ($c.bot.manager.openid)
        </span><br/>

        <table class="listing" py:if="c.bot.network_participation">
          <thead>
            <tr><th colspan="4">Networks</th></tr>
            <tr>
              <th>Nick</th>
              <th>Address</th>
              <th>Port</th>
              <th>Channels</th>
            </tr>
          </thead>
          <tbody>
            <tr py:for="participation in c.bot.network_participation"
                py:with="network = participation.network">
              <td>$participation.nick</td>
              <td>$network.address</td>
              <td>$network.port</td>
              <td>
               <py:for each="channel in network.channels">
                $channel.channel_name
               </py:for>
              </td>
            </tr>
          </tbody>
        </table>

        <input type="hidden" id="user_id" name="user_id" value="$c.user.id"/>
        <input type="hidden" id="bot_id" name="bot_id" value="$c.bot.id"/><br/>
        <input class="input_button" type="submit" value="${_('Delete Bot')}"/>
        <a class="input_button" onClick="window.history.back();">Cancel</a>
      </fieldset>
    </form><br/>
  </body>
</html>
