<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <xi:include href="../layout.html" />
  <head>
    <title>Edit Bot</title>
  </head>

  <body>
    <form action="${ h.url_for(controller='bots', action='edit', id=c.bot.nick) }"
          method="post" id="edit_bot" name="edit_bot"
          accept-charset="UTF-8" class="user_input">
      <fieldset>
        <legend>Edit Bot</legend>
        <label for="nick">Nick:</label>
        <input type="text" id="nick" name="nick"
               value="${c.form_result.nick or c.bot.nick}"/>
        <span class="error-message" py:if="'nick' in c.errors">
          $c.errors.nick
        </span>
        <br/>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name"
               value="${c.form_result.name or c.bot.name}"/>
        <span class="error-message" py:if="'name' in c.errors">
          $c.errors.name
        </span>
        <br/>

        <label for="passwd">Password:</label>
        <input type="password" id="passwd" name="passwd" value=""/>
        <span class="error-message" py:if="'passwd' in c.errors">
          ${ c.errors.passwd }
        </span>
        <span class="info-message">Only used for registred nicks</span><br/>
        <label for="passwd_confirm">Confirm Password:</label>
        <input type="password" id="passwd_confirm" name="passwd_confirm"
               value=""/>
        <span class="error-message" py:if="'passwd_confirm' in c.errors">
          ${ c.errors.passwd_confirm }
        </span><br/>

        <label for="manager">Managed By:</label>
        <span id="manager" name="manager">
          $c.bot.manager.name ($c.bot.manager.openid)
        </span><br/>

        <fieldset class="subfieldset">
        <legend>
          Networks
          (<a href="${ h.url_for(controller='networks', action='add', id=c.bot.nick) }">
          Add Network</a>)
        </legend>
        <table class="listing" py:if="c.bot.networks">
          <thead>
            <tr>
              <th>Address</th>
              <th>Port</th>
              <th>Channels</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr py:for="network in c.bot.networks">
              <td>$network.address</td>
              <td>$network.port</td>
              <td>
               <py:for each="channel in network.channels">
                <a href="${h.url_for('logs',
                                     network=network.name,
                                     channel=channel.name)}"
                   title="See the logs">$channel.name</a>
               </py:for>
              </td>
              <td class="actions">
                <a href="${ h.url_for('edit_network', bot=c.bot.nick, network=network.name)}">
                <img alt="${_('Edit Network')}" title="${_('Edit Network')}"
                     src="${ h.url_for('/img')}/edit.png"/></a></td>
            </tr>
          </tbody>
        </table>
        </fieldset>

        <input type="hidden" id="user_id" name="user_id" value="$c.user.id"/>
        <input type="hidden" id="bot_id" name="bot_id" value="$c.bot.id"/><br/>
        <input class="input_button" name="submit" type="submit"
               value="${_('Update Bot')}"/>
      </fieldset>
    </form><br/>
  </body>
</html>
