<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      py:strip="">
  <xi:include href="../layout.html" />
  <head>
    <title>Edit Bot</title>
    <script type="text/javascript">
      function add_network() {
        location.href = "${ h.url_for(controller='networks', action='add', id=c.bot.name)}";
      };
    </script>
  </head>

  <body>
    <form action="${ h.url_for(controller='bots', action='edit', id=c.bot.name) }"
          method="post" id="edit_bot" name="edit_bot"
          accept-charset="UTF-8" class="user_input">
      <fieldset>
        <legend>Edit Bot</legend>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name"
               value="${c.form_result.name or c.bot.name}"/>
        <span class="error-message" py:if="'name' in c.errors">
          $c.errors.name
        </span>
        <br/>

        <label for="manager">Managed By:</label>
        <span id="manager" name="manager">
          $c.bot.manager.name ($c.bot.manager.openid)
        </span><br/>

        <table class="listing" py:if="c.bot.network_participation">
          <thead>
            <tr><th colspan="5">Networks</th></tr>
            <tr>
              <th>Nick</th>
              <th>Address</th>
              <th>Port</th>
              <th>Channels</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr py:for="participation in c.bot.network_participation"
                py:with="network = participation.network">
              <td>$participation.nick</td>
              <td>$network.address</td>
              <td>$network.port</td>
              <td>
               <py:for each="channel in network.channels">
                <a href="${h.url_for('logs',
                                     network=network.name,
                                     channel=channel.channel_name)}"
                   title="See the logs">$channel.channel_name</a>
               </py:for>
              </td>
              <td class="actions">
                <a href="${ h.url_for('edit_network', nick=participation.nick, network=network.name)}">
                <img alt="${_('Edit Network')}" title="${_('Edit Network')}"
                     src="${ h.url_for('/img')}/edit.png"/></a></td>
            </tr>
          </tbody>
        </table>

        <input type="hidden" id="user_id" name="user_id" value="$c.user.id"/>
        <input type="hidden" id="bot_id" name="bot_id" value="$c.bot.id"/><br/>
        <input class="input_button" name="submit" type="submit"
               value="${_('Update Bot')}"/>
        <input class="input_button" name="submit" type="button"
               value="${_('Add Network')}" onClick="add_network();"/>
      </fieldset>
    </form><br/>
  </body>
</html>
