<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      py:strip="">
  <xi:include href="../layout.html" />
  <head>
  <title>Register Bot</title>
  </head>

  <body>
    <form action="${ h.url_for(controller='bots', action='register') }"
          method="post" id="register_bot" name="register_bot"
          accept-charset="UTF-8" class="user_input">
      <fieldset>
        <legend>Register Bot</legend>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"
               value="${c.form_result.name or c.bot.name}"/>
        <span class="error-message" py:if="'name' in c.errors">
          $c.errors.name
        </span>
        <span class="info-message" i18n:msg="">
          The <tt>nick</tt> and possible <tt>password</tt> will later be
          configured per-network.
        </span><br/>

        <input type="hidden" id="user_id" name="user_id" value="$c.user.id"/><br/>
        <input class="input_button" name="submit" type="submit"
               value="${_('Register Bot')}"/>
      </fieldset>
    </form><br/>
  </body>
</html>
