<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <xi:include href="../layout.html" />
  <head>
  <title>Register Bot</title>
  ${ h.stylesheet_link_tag('/css/jquery.autocomplete.css') }
  ${ h.javascript_include_tag('/js/jquery.flydom.js')}
  ${ h.javascript_include_tag('/js/jquery.dimensions.js')}
  ${ h.javascript_include_tag('/js/jquery.bgiframe.js')}
  ${ h.javascript_include_tag('/js/jquery.autocomplete.js')}

  <script type="text/javascript">
      function parseXML(data) {
        var results = [];
        var branches = $(data).find('item');
        $(branches).each(function() {
          var text = $.trim($(this).find('text').text());
          var value = $.trim($(this).find('value').text());
          //console.log(text);
          //console.log(value);
          results[results.length] = {'data': this, 'result': value, 'value': text};
        });
        $(results).each(function() {
          //console.log('value', this.value);
          //console.log('text', this.text);
        });
        //console.log(results);
        return results;
      };

    var total_nets = 1;

    function reset_autocomplete(IdOrClass) {
      $(".autocomplete").autocomplete(
        "${ h.url_for(controller='ajax', action="networks", id=None) }",
        { parse: parseXML, minChar: 2}
      );
    };

    function add_network_field() {
      var divID = 'network-'+total_nets+'-div';
      var fieldID = 'network-'+total_nets;

      div = $('#networks').createAppend('div', { 'id': divID }, []);
      $(div).createAppend('label', {'for': fieldID}, []);
      $(div).createAppend('input', {
        'id': fieldID,
        'name': fieldID,
      }, []).attr('class', 'autocomplete');
      $(div).createAppend('input', {
        'name': 'submit',
        'type': "button",
        'value': "${_('Remove')}"
      }, '').attr('class', 'input_button inline').attr('style', "").attr(
        'onClick', '$("#'+divID+'").fadeOut(); $("#'+divID+'").remove()');
      $(div).fadeIn();
      console.log('calling autocomplete for field #'+fieldID);
      total_nets = total_nets + 1;
      reset_autocomplete();
    };
  </script>
  </head>

  <body>
    <form action="${ h.url_for(controller='bots', action='register') }"
          method="post" id="register_bot" name="register_bot"
          accept-charset="UTF-8" class="user_input">
      <fieldset>
        <legend>Register Bot</legend>
        <label for="nick">Nick:</label>
        <input type="text" id="nick" name="nick"
               value="${c.form_result.nick or c.bot.nick}"/>
        <span class="error-message" py:if="'nick' in c.errors">
          $c.errors.nick
        </span>
        <br/>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name"
               value="${c.form_result.name or c.bot.name}"/>
        <span class="error-message" py:if="'name' in c.errors">
          $c.errors.name
        </span>
        <br/>

        <label for="passwd">Password:</label>
        <input type="password" id="passwd" name="passwd" value=""/>
        <span class="error-message" py:if="'passwd' in c.errors">
          ${ c.errors.passwd }
        </span>
        <span class="info-message">Only used for registred nicks</span><br/>

        <label for="passwd_confirm">Confirm Password:</label>
        <input type="password" id="passwd_confirm" name="passwd_confirm" value=""/>
        <span class="error-message" py:if="'passwd_confirm' in c.errors">
          ${ c.errors.passwd_confirm }
        </span><br/>

        <input type="hidden" id="user_id" name="user_id" value="$c.user.id"/><br/>
        <input class="input_button" name="submit" type="submit"
               value="${_('Register Bot')}"/>
      </fieldset>
    </form><br/>
    <script type="text/javascript">
      $(document).ready( function() { reset_autocomplete(); } );
    </script>
  </body>
</html>
