<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      py:strip="">
  <xi:include href="../layout.html" />
  <head>
  <title>
    Add Channel for $c.participation.nick on
    $c.participation.network.address:$c.participation.network.port</title>
  </head>

  <body>
    <form action="${h.url_for(controller='channels', action='add', nick=c.participation.nick)}"
          method="post" id="add_channel" name="add_channel"
          accept-charset="UTF-8" class="user_input">
      <fieldset>
        <legend>
          Add Channel for $c.participation.nick on
          $c.participation.network.address:$c.participation.network.port
        </legend>


        <label for="prefix">Channel Prefix:</label>
        <input type="text" id="prefix" name="prefix"
               value="$c.form_result.prefix"/>
        <span class="error-message" py:if="'channel' in c.errors">
          ${ c.errors.prefix }
        </span>
        <span class="info-message" i18n:msg="">
          This is first char of the channel name, normally
          <tt><b>#</b></tt> or <tt><b>&amp;</b></tt>
        </span><br/>

        <label for="channel">Channel Name:</label>
        <input type="text" id="channel" name="channel"
               value="$c.form_result.channel"/>
        <span class="error-message" py:if="'channel' in c.errors">
          ${ c.errors.channel }
        </span>
        <span class="info-message" i18n:msg="">
          Without the above prefix.
        </span><br/>

        <input type="hidden" id="participation_id" name="participation_id"
               value="$c.participation.id"/>
        <input type="hidden" id="user_id" name="user_id" value="$c.user.id"/><br/>
        <input class="input_button" type="submit" value="${_('Add Channel')}"/>
      </fieldset>
    </form><br/>
  </body>
</html>
